# Pre-defined Devices
[[DeviceList]]
Name = "Camera001"
ProfileName = "onvif-camera"
Description = "onvif conformant camera"
  [DeviceList.Protocols]
    [DeviceList.Protocols.Onvif]
    Address = "192.168.12.123"
    Port = "80"
    MACAddress = "00:01:02:03:04:05"
    [DeviceList.Protocols.CustomMetadata]
    CommonName = "Door camera"
    Location = "Front door"

# If having more than one camera, uncomment the following config settings
# [[DeviceList]]
# Name = "Camera002"
# ProfileName = "onvif-camera"
# Description = "Simulator of onvif conformant camera"
#   [DeviceList.Protocols]
#     [DeviceList.Protocols.Onvif]
#     Address = "192.168.12.128"
#     Port = "2020"
#     MACAddress = "00:01:02:03:04:05"
