# Pre-defined Devices
[[DeviceList]]
Name = "Camera001"
ProfileName = "onvif-camera"
Description = "onvif conformant camera"
  [DeviceList.Protocols]
    [DeviceList.Protocols.Onvif]
    Address = "192.168.12.123"
    Port = "80"
    FriendlyName = "Home camera"
    MACAddress = "aa:bb:cc:dd:ee:ff"
    [DeviceList.Protocols.CustomMetadata]
    Location = "Front door"
    Color = "Black and white"

# If having more than one camera, uncomment the following config settings
[[DeviceList]]
Name = "Camera002"
ProfileName = "onvif-camera"
Description = "onvif conformant camera"
  [DeviceList.Protocols]
    [DeviceList.Protocols.Onvif]
    Address = "192.168.12.135"
    Port = "2020"
    MACAddress = "11:22:33:44:55:66"
    FriendlyName = "Back Camera"
    [DeviceList.Protocols.CustomMetadata]
    Location = "Back Exit"
